.form-item-min-display:after,
.form-item-max-display:after {
  content: '';
  background: transparent url('../images/calendar.png') no-repeat bottom right;
  background: rgba(0,0,0,0) url('../images/calendar.svg') no-repeat bottom right;
  display: inline-block;
  width: 30px;
  height: 30px;
  margin-bottom: -7px;
}